// scss for fonts

/* EXEMPLE */

/*
@font-face {
    font-family: 'BebasBook';
    src: url('../../fonts/BebasNeueBook.eot');
    src: url('../../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../../fonts/BebasNeueBook.woff') format('woff'),
        url('../../fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
