// Global scss for e-learning layout

@media all and (max-width: $bp-mobile){
  #test{
    --vh: 300px;
  }
}

html, body{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bebas';
  font-size: 20px;
}

#testIframe{
   min-height: 100vh;
   border: none;
   float: left;
}

#iscroll{
  height: calc(100vh);
  width: calc(100% - 0px);
  position:absolute; z-index:1000;
  overflow:auto;
}
@media all and (max-width: $bp-mobile){
  #iscroll{
    height: (var(--vh));
    width: calc(100% - 0px);
    position:absolute; z-index:1000;
    overflow:auto;
  }
}
#scroller{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#iscroll #scroller{
  position: relative;
}
.maincontent{
  width: 1006px;
  height: 691px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media all and (max-width: $bp-mobile){
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none !important;
}
.hiddendesktop {
  display: none;

  @media all and (max-width: $bp-mobile){
    display: block;
  }
}
.hiddenmobile {
  display: block;

  @media all and (max-width: $bp-mobile){
    display: none;
  }
}


.transition {
  background: $blanc;
  z-index: 3000;
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  opacity: 0;

  &.fade {
    display: block;
    opacity: 1;
    width: 100%;

    &.fade_trans {
      opacity: 0;
    }
  }
}

#bascule-overlay {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: url(../../img/language/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;

    img {
        margin: 0 auto;
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: auto;
        z-index: 10;
    }

    &:after {
      content: "\00a0 ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $noir_50;
    }
}

.nicescroll-rails {
  .nicescroll-cursors {
      border: 0 !important;
      background-color: $blanc !important;
  }
}

.ui-loader.ui-corner-all{
  display: none !important;
}

.removed{
  display: none !important;
}
.scrollcheck {
  position: relative;
}
.people > div {
  display: none;
}
