// scss for mixin & variables

$bp-mobile: 768px;
$bp-height: 1080px;
$bp-small-mobile: 350px;
$bp-small-mobile-height: 551px;

// Ajustement des tailles de font pour un rendu responsive
@mixin fontsize($taille){
  $px: unquote("px");
  $rem: unquote("rem");
  font-size: $taille+$px;
  font-size: ($taille/10)+unquote("rem");
}

// Ajustement des line-height pour un rendu responsive
@mixin line-height($taille){
  $px: unquote("px");
  $rem: unquote("rem");
  line-height: $taille+$px;
  line-height: ($taille/10)+unquote("rem");
}

// Si on veut faire du css conditionnel pour un navigateur
@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}
