<div id="menu_wrapper">
  <div class="left_corner">
  </div>
  <div class="name_module" data-trad="titre_intro"></div>
  <div class="name_module titre_baroque" data-trad="baroque"></div>
  <div class="name_module titre_classique" data-trad="classic"></div>
  <div class="name_module titre_contemporain" data-trad="contemporary"></div>
  <nav role='navigation'>
    <div class="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    </div>


    <ul id="menu">
      <li data-menu="home" class="">
        <div class="aplat">
          <div class="siecle" ><span></span></div>
        </div>
        <div class="visuel_menu"></div>
        <div class="titre_wrapper">
          <p class="gotoactivity" data-activity="intro" data-trad="intro"></p>
        </div>
        <div class="picto"></div>
      </li>
      <li data-menu="baroque" class="">
        <div class="aplat">
          <div class="siecle" ><span data-trad="siecle_baroque"></span></div>
        </div>
        <div class="visuel_menu"></div>
        <div class="titre_wrapper">
          <p class="gotoactivity" data-activity="baroque" data-trad="baroque"></p>
        </div>
        <div class="picto"></div>
      </li>
      <li data-menu="classique" class="">
        <div class="aplat">
          <div class="siecle" ><span data-trad="siecle_classic"></span></div>
        </div>
        <div class="visuel_menu"></div>
        <div class="titre_wrapper">
          <p class="gotoactivity" data-activity="classique" data-trad="classic"></p>
        </div>
        <div class="picto"></div>
      </li>
      <li data-menu="contemporain" class="">
        <div class="aplat">
          <div class="siecle" ><span data-trad="siecle_contemporary"></span></div>
        </div>
        <div class="visuel_menu"></div>
        <div class="titre_wrapper">
          <p class="gotoactivity" data-activity="contemporain" data-trad="contemporary"></p>
        </div>
        <div class="picto"></div>

      </li>
    </ul>
  </nav>
</div>
